*{padding:0;margin:0;}
li{list-style: none;}
.contain{
    position: absolute;
    width:100%;
    height:100%;
    background: #607D8B;
}
.login{
    width:400px;
    position: relative;
    left:50%;
    top:100px;
    border-radius: 10px;
    background: #FFFFFF;
    padding-bottom: 20px;
    overflow: hidden;

}
.tab{
    width:100%;
    height:50px;
    background: #eeeeee;
    
}
.active{
    background: #FFFFFF;
}
.tab li{
    width:50%;
    height:50px;
    float: left;
    text-align:center;
    line-height: 50px;
    cursor: pointer;
}
.loginInput{
    width:100%;
    height:300px;
    margin-top: 50px;
}
.loginInput input{
    display: block;
    width:300px;
    height:40px;
    border:1px solid #eeeeee;
    border-radius: 10px;
    margin: 20px auto;
    padding-left: 10px; 
    outline: none;
}
.loginInput button{
    display:block;
    width:320px;
    height:40px;
    border:1px solid #eeeeee;
    border-radius: 10px;
    margin:20px  auto 0;
    text-align: center;
}
.toSign{
    width: 200px;
    height: 20px;
    font-size: 14px;
    margin:10px auto;
    color: #cccccc;
    text-align: center;
}
